/* Define the font and color for the website */
@import url();

body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

*{
    padding: 0;
    margin: 0;
}
.navbar{
  grid-area: nv;
}

.navbar{
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.navbar ul{
  float: right;
  margin-right: 20px;
}

.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 13px;
  /*font-family: 'Roboto', sans-serif;*/
  transition: .4s;
}

.navbar ul li a:hover {
  background: greenyellow;
  border-radius: 2px;

}
.logo {
  width: 50px;
  height: auto;
  padding: 20px 100px;
}

#wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 15% 2fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas: 
  "nv nv"
  "art1 art2"
  "dr fod"
  "ft ft"
  ;
  padding-left: 10px;
  padding-right: 10px;
 }     
 
.art1{
  grid-area: art1;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.art2{
  grid-area: art2;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.dricka{
  grid-area: dr;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.foda{
  grid-area: fod;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}    



.footer{
  grid-area: ft;
  background-color: lightblue;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "tx tx1";
}