/* Define the font and color for the website */
@import url();

body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

*{
    padding: 0;
    margin: 0;
}
.navbar{
  grid-area: nv;
}

.navbar{
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.navbar ul{
  float: right;
  margin-right: 20px;
}

.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 13px;
  /*font-family: 'Roboto', sans-serif;*/
  transition: .4s;
}

.navbar ul li a:hover {
  background: greenyellow;
  border-radius: 2px;

}
.logo {
  width: 50px;
  height: auto;
  padding: 20px 100px;
}

#wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 15% 2fr 30%;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas: 
  "nv nv"
  "art1 art2"
  "dr fod"
  "ft ft"
  ;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(21, 83, 104);
 }     
 
.art1{
  grid-area: art1;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  border-radius: 10px;
}

.art2{
  grid-area: art2;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  border-radius: 10px;
}

.dricka{
  grid-area: dr;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  border-radius: 10px;
}

ol {
  line-height:300%
}

.drickmeny{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  grid-template-areas: 
  "pc li"
  "pc1 li";
}

.exdr{
  grid-area: pc;
  border-radius: 10px;
  justify-content: center;
}

.exdri{
  grid-area: pc1;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
}
.dryck{
  grid-area: li;
  padding-left: 250px;
}

.mat{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  grid-template-areas: 
  "p l"
  "p1 l";
}

.p{
  grid-area: p;
  border-radius: 10px;
  justify-content: center;
  padding-right: 5px;
}

.p1{
  grid-area: p1;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.met{
  grid-area: l;
  padding-left: 250px;
}
.foda{
  grid-area: fod;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  border-radius: 10px;
}    



.footer{
  grid-area: ft;
  background-color: aliceblue;
  border-radius: 10px;
}

.donera{
  display: grid;
  width: 100%;
  column-gap: 10px;
  border-radius: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "tx tx1";
}

.tx{
  grid-area: tx;
  padding-top: 10px;
  padding-left: 40px;
  display: flex;
  justify-content: left;
  display: grid;
}

.tx1{
  grid-area: tx1;
  display: flex;
  align-items: center;
  padding-top: 45px;
  gap: 20px;
}


a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}